*{
	box-sizing: border-box;
}
body{
    font-weight: 600;
	font-family: 'El Messiri', sans-serif;
	background-color: #F5F9F3;
	color: white;


   }

#navv{
	background-color: #9E93AE;
	
	
}

hr{
	border-top:1px dashed #F7F6F6;
}

.navbar-toggler{
	color: #F5F9F3;
}
.navbar-toggler:hover{
	color: #c5cfbc;
}


.nav-link{
	color: #F5F9F3;
}
.nav-link:hover{
	color: #131213;
}


#butt{
	background-color: #C1B3CB;
}

.navbar-brand{
	margin-right:10px;
	font-size: 1.4em;
	font-weight: 800;
	color: #F5F9F3;
	
	font-family: 'Combo', cursive;
}
.navbar-brand:hover{
	color: #353A5B;
}

.mediv{
	position: relative;
	left: 0%;
	top: 0px;
	width: 100%;
	height: 800px;
	
	background-image: linear-gradient(180deg, #c8b8c7, #F5F9F3  );

}



.p1,.p2{
	font-size: 40px;
	color: #353A5B;
	margin-top: 00px;
	font-family: 'El Messiri', sans-serif;
	font-weight: 200;
	
}
.myname{
	font-size: 50px;
	color: #353A5B;
	font-family: 'Combo', cursive;
	font-weight: 800;
	


}

.about{
	position: relative;
	height: 700px;
	color: #353A5B;
	
}
.abouth{
	position: absolute;
	top: 18%;
	left: 45%;
	font-size: 40px;
	font-weight: 700;
}
.aboutme{
	position: absolute;
	top: 40%;
	right: 8%;
	left: 8%;
	font-size: 28px;
	text-align: center;
	
}
.p{
	margin-left: 30px;
	color: gray;
	opacity: 50%;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 15px;
	font-family: 'Combo', cursive;
	

}
.social{
	width: 150px;
	border-radius: 100%;
	margin-left:5px;
	margin-top: 20px;
}
.soc{
	width: 100%;
	height: 450px;
}
.socialcontainer{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20%;
}
.contact{
	margin-bottom: 90px;
	color: #353A5B;
	font-size: 40px;
	font-weight: 700;

}


@media (min-width: 990px) and (max-width: 1019px){
	.collapse{
		margin-left:50%;
	}
	.navbar-brand{
		margin-left:5px;
	}
	
}
@media (min-width: 1020px) and (max-width: 1070px){
	.collapse{
		margin-left:50%;
	}
	.navbar-brand{
		margin-left:5px;
	}
	
}
@media (min-width: 1071px) /*and (min-width: 769px)*/{
	.collapse{
		margin-left:60%;
	}
	.navbar-brand{
		margin-left:5px;
	}
	
}
@media (min-width: 320px) and (max-width: 480px){
	.me{
			margin-top:60px;
			width: 300px;
		}
		.p1,.p2{
			font-size: 28px;
			text-align: center;
			
		}	
		.p2{
			margin-left: 15px;
		}
		.myname{
			font-size: 32px;
			
		}
		.home{
			position: absolute;
			/* left: 18%; */
			top:380px;
			text-align: center;
			
		}
		.abouth{
			
			left: 28%;
			
		}
		.aboutme{
			top:32%;
			font-size: 23px;
		}
		.p{
			margin-left: 0%;
			font-size: 12px;
		}
		.social{
			width: 100px;
			
		}
		.contact{
			margin-bottom: 60px;
		}
		.about{
			height: 800px;
		}
		.mediv{
			height: 700px;
		}
		.soc{
			height: 600px;
		}
		
		

}

@media (min-width: 481px) and (max-width: 768px){

	.me{
			margin-top: 30px;
			width: 300px;
		}
		.p1,.p2{
			font-size: 28px;
			text-align: center;
			
		}	
		.myname{
			font-size: 32px;
			
		}
		.home{
			position: absolute;
			left: 18%;
			top:350px;
			right: 20%;
			
			
		}
		.me{
			margin-top: 60px;
		}
		.abouth{
			
			left: 35%;
			
		}
		.aboutme{
			top:35%;
			font-size: 23px;
		}
		.p{
			margin-left: 0%;
			font-size: 12px;
		}
		.social{
			width: 100px;
			
		}
		

}

@media (min-width: 769px) and (max-width: 1024px){
	.home{
		position: absolute;
		left: 20%;
		top:450px;
		right: 20%;
		
	}
	.p1,.p2{
		text-align: center;

		
	}
	.me{
		margin-top: 60px;
	}
	.about{
		margin-top: 80px;
	}
	
}

@media (min-width: 1025px) and (max-width: 1200px){
			.me{
			position: absolute;
			right:65px;
			top: 100px;
		}
		.home{
			position: absolute;
			left: 20px;
			top:150px;
			
		}
		.p1,.p2{
			font-size: 32px;
			margin-left: 50px;
			
		}	
		.myname{
			font-size: 35px;
			
		}
		.navbar-brand{
			margin-left: 35px;
		}
		
		
	

}

@media (min-width: 1201px) and (max-width:1600px){
	
		.me{
			position: absolute;
			right:65px;
			top: 100px;
		}
		.home{
			position: absolute;
			left:0px;
			top: 150px;
			
		}
		.p1,.p2{
			
			margin-left: 50px;
			
		}
		.navbar-brand{
			margin-left: 20px;
		}	
		
	
}
@media (min-width:1601px){
	.navbar-brand{
		font-size: 2em;
	}
	.me{
		width: 600px;
		position: absolute;
		right:65px;
		top: 100px;
		
	}
	.navbar-nav{
		font-size: 1.7em;
	}
	.home{
		position: absolute;
		left:90px;
		top: 220px;
		
	}
	.abouth{
		font-size: 55px;
	}
	.aboutme{
		font-size: 35px;
	}
	.mediv{
		height: 950px;
	}
	.about{
		height: 850px;
	}
	.soc{
		height: 550px;
	}
	.p1,.p2{
		font-size: 55px;
	}
	.myname{
		font-size: 66px;
	}
	.contact{
		font-size: 65px;
	}
	.social{
		width: 200px;
	}
}

